@{
    ViewData["Title"] = "Home Page";
}

<main class="mt-5 mb-5">
    <div class="main-head container d-flex col-lg-3 col-md-3 col-sm-4">
        <h1>КУШАЙ МНОГО & КУШАЙ ВКУСНО!</h1>
    </div>
</main>