@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<div class="main-content">
    <div class="main-head container d-flex col-lg-3 col-md-3 col-sm-4">
        <h1>КУШАЙ МНОГО & КУШАЙ ВКУСНО!</h1>
    </div>
    <div class="data d-flex col-lg-12 col-md-8 col-sm-4">
        <div class="data-header pb-3">
            <h1>Еда и счастье - слова разные, а смысл тот же</h1>
        </div>
        <li class="data-li">
            <ol class="ol-item">
                <h3>KFC</h3>
                <p>Самая сочная курочка на диком западе</p>
                <a href="https://www.kfc.ru/coupons">Оригинальный сайт</a>
            </ol>
            <ol class="ol-item">
                <h3>McDonald's'</h3>
                <p>Нежнейшая говядина уже готова растаять у вас во рту</p>
                <a href="https://vkusnotochkamenu.ru/kupon/">Оригинальный сайт</a>
            </ol>
            <ol class="ol-item">
                <h3>Burger King</h3>
                <p>Их бургеры - мечта. А что может быть лучше мечты по скидке?</p>
                <a href="#">Когда-нибудь здесь будет правильная ссылка</a>
            </ol>
            <ol class="ol-item">
                <h3>Dodo</h3>
                <p>Даже лучшие бабушки мира не смогли повторить то, что делают они</p>
                <a href="#">Когда-нибудь здесь будет правильная ссылка</a>
            </ol>
        </li>
    </div>
</div>