@using Cupones.Domain.Entity
@using Cupones.Domain.Entity.Implementations
@using Cupones.Views.Shared.Components.KfcCupone

@model List<KfcCupon>

<div class="container col-lg-12">
@await Component.InvokeAsync("KfcCupone",Model)
</div>
