/* _content/Cupones/Views/Home/Kfc.cshtml.rz.scp.css */


body[b-3r8kxhj2hz] {
    background-color: white !important;
}

header[b-3r8kxhj2hz] {
    background-color: #ffc738cc;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-nav[b-3r8kxhj2hz] {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 900;
}

    .navbar-nav :first-child[b-3r8kxhj2hz] {
        margin-right: 100px !important;
    }

.acc-btn[b-3r8kxhj2hz] {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin-top: 1em;
    background-color: black !important;
}


.bh-f:hover[b-3r8kxhj2hz] {
    transition: 0.3s ease-out;
    border-top: 10px solid #ff7a38ab;
    border-bottom: 10px solid #ff7a38ab;
    border-radius: 10%;
}

.bh-c[b-3r8kxhj2hz] {
    border-top: 10px solid #ff4f27dc;
}

.border-top[b-3r8kxhj2hz] {
    height: 80px;
}

.border-hover:hover[b-3r8kxhj2hz] {
    transition: 0.2s;
    border-top: 10px solid #ff4f27dc;
}

@media (max-width : 992px) {
    .hed img[b-3r8kxhj2hz] {
        width: 380px !important;
        height: 480px;
    }

    .hero-content h1[b-3r8kxhj2hz] {
        font-size: 50px !important;
    }

    .hero-content h3[b-3r8kxhj2hz] {
        font-size: 16px !important;
    }

    .hero-content p[b-3r8kxhj2hz] {
        font-size: 12px !important;
    }
}

.hero-content h1[b-3r8kxhj2hz] {
    font-size: 70px;
    font-family: sans-serif;
    font-weight: 800;
    color: white;
    text-shadow: 0px 5px 9px rgba(110,89,6,0.63);
}

.hero-content h3[b-3r8kxhj2hz] {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 900;
}

.hero-content p[b-3r8kxhj2hz] {
    font-family: "Roboto", sans-serif;
    color: rgb(254, 248, 201);
    font-weight: 900;
    font-size: 14px;
}

.fixedd[b-3r8kxhj2hz] {
    transition: 0.5s ease;
}

.scrolled[b-3r8kxhj2hz] {
    background-color: #c83f3ff1 !important;
    border-top: none;
    transition: background-color 200ms linear;
}

main[b-3r8kxhj2hz] {
    padding: 8em 0 !important;
}

.main-head[b-3r8kxhj2hz] {
    margin-left: auto !important;
    margin-right: auto !important;
}

footer[b-3r8kxhj2hz] {
    display: flex;
    justify-content: center;
    background-color: white;
}

.footer-content[b-3r8kxhj2hz] {
    display: flex;
    border-top: 1px #f7a94f5d solid;
}

.footer-links[b-3r8kxhj2hz] {
    list-style: none;
}

.footer-link[b-3r8kxhj2hz] {
    margin-left: 1em;
}

    .footer-link img[b-3r8kxhj2hz] {
        width: 30px;
    }
/* _content/Cupones/Views/Shared/_Layout.cshtml.rz.scp.css */


body[b-tle99idrlb] {
    background-color: white !important;
}

header[b-tle99idrlb] {
    background-color: #ffc738cc;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-nav[b-tle99idrlb] {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 900;
}

    .navbar-nav :first-child[b-tle99idrlb] {
        margin-right: 100px !important;
    }

.acc-btn[b-tle99idrlb] {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin-top: 1em;
    background-color: black !important;
}


.bh-f:hover[b-tle99idrlb] {
    transition: 0.3s ease-out;
    border-top: 10px solid #ff7a38ab;
    border-bottom: 10px solid #ff7a38ab;
    border-radius: 10%;
}

.bh-c[b-tle99idrlb] {
    border-top: 10px solid #ff4f27dc;
}

.border-top[b-tle99idrlb] {
    height: 80px;
}

.border-hover:hover[b-tle99idrlb] {
    transition: 0.2s;
    border-top: 10px solid #ff4f27dc;
}

@media (max-width : 992px) {
    .hed img[b-tle99idrlb] {
        width: 380px !important;
        height: 480px;
    }

    .hero-content h1[b-tle99idrlb] {
        font-size: 50px !important;
    }

    .hero-content h3[b-tle99idrlb] {
        font-size: 16px !important;
    }

    .hero-content p[b-tle99idrlb] {
        font-size: 12px !important;
    }
}

.hero-content h1[b-tle99idrlb] {
    font-size: 70px;
    font-family: sans-serif;
    font-weight: 800;
    color: white;
    text-shadow: 0px 5px 9px rgba(110,89,6,0.63);
}

.hero-content h3[b-tle99idrlb] {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 900;
}

.hero-content p[b-tle99idrlb] {
    font-family: "Roboto", sans-serif;
    color: rgb(254, 248, 201);
    font-weight: 900;
    font-size: 14px;
}

.fixedd[b-tle99idrlb] {
    transition: 0.5s ease;
}

.scrolled[b-tle99idrlb] {
    background-color: #c83f3ff1 !important;
    border-top: none;
    transition: background-color 200ms linear;
}

main[b-tle99idrlb] {
    padding: 8em 0 !important;
}

.main-head[b-tle99idrlb] {
    margin-left: auto !important;
    margin-right: auto !important;
}

footer[b-tle99idrlb] {
    display: flex;
    justify-content: center;
    background-color: white;
}

.footer-content[b-tle99idrlb] {
    display: flex;
    border-top: 1px #f7a94f5d solid;
}

.footer-links[b-tle99idrlb] {
    list-style: none;
}

.footer-link[b-tle99idrlb] {
    margin-left: 1em;
}

    .footer-link img[b-tle99idrlb] {
        width: 30px;
    }
