.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 5em 0;
    padding: 0 0 0 2em;
}

    .container .btn {
        position: relative;
        top: 0;
        left: 0;
        width: 250px;
        height: 250px;
        margin: 5px 5px 5px 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }
.btn-reactions {
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: -3em;
    left: 2em;
    opacity: 0;
    transition: 0.1s;
}

    .btn-reactions button {
        border-radius: 10%;
        width: 4em;
        border-style: none;
        color: white;
    }

        .btn-reactions button:nth-child(1) {
            background-color: rgba(0, 255, 42, 0.096);
            margin-right: 5.5em;
        }

        .btn-reactions button:nth-child(2) {
            background-color: rgba(255, 98, 0, 0.096);
        }

.btn:hover .btn-reactions {
    transition: 0.5s;
    transition-delay: 1s;
    opacity: 100%;
}
        .container .btn a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 30px;
            padding: 10px;
            letter-spacing: 1px;
            text-decoration: none;
            overflow: hidden;
            color: #fff;
            font-weight: 400px;
            z-index: 1;
            transition: 0.5s;
            backdrop-filter: blur(15px);
        }

        .container .btn:hover a {
            letter-spacing: 3px;
        }

        .container .btn a::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
            transform: skewX(45deg) translate(0);
            transition: 0.5s;
            filter: blur(0px);
        }

        .container .btn:hover a::before {
            transform: skewX(45deg) translate(200px);
        }

        .container .btn::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            bottom: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0.5;
        }

        .container .btn:hover::before /*lightup button*/ {
            bottom: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
        }

        .container .btn::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            top: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0.5;
        }

        .container .btn:hover::after /*lightup button*/ {
            top: 0;
            height: 52%;
            width: 80%;
            border-radius: 30px;
        }

        .container .btn:nth-child(1)::before, /*chnage 1*/
        .container .btn:nth-child(1)::after {
            background: #e7c86acb;
            box-shadow: 0 0 5px #fde1aa, 0 0 15px #f4d378, 0 0 30px #faa029, 0 0 60px #ffad1fa5;
        }

        .container .btn:nth-child(2)::before, /* 2*/
        .container .btn:nth-child(2)::after {
            background: #e7c86acb;
            box-shadow: 0 0 5px #fde1aa, 0 0 15px #f4d378, 0 0 30px #faa029, 0 0 60px #ffad1fa5;
        }

        .container .btn:nth-child(3)::before, /* 3*/
        .container .btn:nth-child(3)::after {
            background: #1eff45;
            box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
        }

main {
    padding:0;
}
main img {
    transition: 0.5s;
    width: 200px;
    opacity: 70%;
}

main img:hover {
    transition: 0.5s ease-in;
    opacity: 100%;
}

.mac {
    height: 110px !important;
}
