@using Cupones.Domain.Entity.Implementations
@model List<KfcCupon>
<head>
	<link rel="stylesheet" href="~/css/Kfc.css"/>
</head>

@{
	foreach (KfcCupon cupon in Model)
{
		<div class="btn px-2">
			<a href="@cupon.OriginLink">
				<img src="@cupon.Image" alt="asd">
			</a>
			<div class="btn-reactions">
				<h3 class="text-white text-end pt-5">@cupon.Code</h3>

			</div>
		</div>
	}
}
