@using Cupones.Domain.Entity.Implementations
@model List<KfcCupon>
<head>
	<link rel="stylesheet" href="~/css/Kfc.css"/>
</head>

@{
	int i = 0;
	foreach (KfcCupon cupon in Model)
{
		<div class="btn px-2" id="@i">
			<a href="@cupon.OriginLink">
				<img src="@cupon.Image" alt="asd">
			</a>
		</div>
		i++;
	}
}
